*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
  inline-size: 1140px;
  block-size: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  inline-size: 711px;
  block-size: inherit;
}

.result__video-container {
   position: relative;
   inline-size: inherit; 
   block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: inherit;
  block-size: inherit;
}



.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 69px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  block-size: 100%;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  inline-size: 212px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  padding-block: 3px;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  padding-inline: 2px;
  outline: 1px solid #fff;
  transition: padding-inline 0.3s ease-out allow-discrete;
}

.search-form__pseudo-checkbox {
  position: relative;
  outline: 1px solid #fff;
  block-size: 19px;
  inline-size: 19px; 
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  width: 90%;
  height: 90%;
  background-color: #fff;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0;
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  background-color: transparent;
  block-size: 27px;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield:focus, .search-form__textfield:focus-visible, button {
  outline: none;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  background: transparent;
  cursor: pointer;
  block-size: 34px;

}

button:focus-visible {
  border: 3px double #fff; 
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgb(84 80 80 / 1);
}

.search-form__submit-button {
  margin-block-end: 5px;
  inline-size: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  block-size: inherit;
  inline-size: auto;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px; 
  overflow-y: scroll;
  block-size: 534px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  border-radius: 0;
  outline: 0;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: rgb(84 80 80 / 1);
}

.content__video-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;

}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  inline-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}